<h2>Registro</h2>
<form action="/generate_qr" method="post">
  <label>Nombre de usuario:</label>
  <input type="text" name="username" required>
  <button type="submit">Generar Código QR</button>
</form>
